@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media only screen and (min-width:1025px)and (max-width:1440px) {
    .display-main {
        display: flex;
        align-items: center;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        height: 550px;
        justify-content: center;
        padding-top: 160px;
    }
    .display-image img {
        width: 420px;
        height: 480px;
        padding: 10px;
        margin-left: -170px;
        margin-top: -0px;
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 120px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 4px;
        align-items: center;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        margin-left: 140px;
        margin-bottom: -20px;
    }
    h1 {
        letter-spacing: 4px;
        padding: 10px;
        align-items: center;
        font-size: 30px;
        letter-spacing: 6px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 70px;
        align-items: center;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        padding: 10px;
        align-items: center;
        font-size: 28px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 20;
        margin-left: -80px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: -80px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 15px;
        margin-top: 30px;
        border: 2px solid gold;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 40px;
        margin-left: 30px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}


/* @media only screen and (max-width:425px) {
    .display-main {
        max-width: 400px;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        padding: 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        padding-top: 80px;
        gap: 40px;
        padding-right: 0;
        margin-left: 10px;
    }
    .display-image img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 200px;
        height: 235px;
        margin-left: 1px;
        margin-right: 0;
        margin-top: 30px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 50px;
        position: relative;
        z-index: 1;
        margin-right: -45px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 2px;
        align-items: center;
        font-size: 8px;
        text-align: center;
        margin-left: 30px;
        margin-bottom: -30px;
        margin-left: -8px;
        margin-top: 30px;
    }
    h1 {
        padding: 10px;
        align-items: center;
        font-size: 12px;
        letter-spacing: 6px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: -15px;
        margin-left: 10px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 26px;
        align-items: center;
        margin-left: 20px;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        padding: 5px;
        align-items: center;
        font-size: 8px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 22;
        margin-left: 1px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: 10px;
        margin-top: -30px;
        padding: 10px;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 10px;
        margin-top: 20px;
        border: 2px solid gold;
        padding: 3px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 30px;
        margin-left: 20px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}

@media only screen and (max-width:320px) {
    .display-main {
        margin-right: -60px;
        gap: -10px
    }
}

@media only screen and (max-width:375px) {
    .display-main {
        margin-left: 50px;
    }
} */

@media only screen and (min-width:769px)and (max-width:1230px) {
    .display-main {
        display: flex;
        align-items: center;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        height: 550px;
        justify-content: center;
        padding-top: 160px;
    }
    .display-image img {
        width: 320px;
        height: 400px;
        padding: 10px;
        margin-left: -130px;
        margin-top: -0px;
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 40px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
        margin-right: 90px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 4px;
        align-items: center;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        margin-left: 140px;
        margin-bottom: -20px;
    }
    h1 {
        letter-spacing: 4px;
        padding: 10px;
        align-items: center;
        font-size: 30px;
        letter-spacing: 6px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 70px;
        align-items: center;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        padding: 10px;
        align-items: center;
        font-size: 23px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 20;
        margin-left: -10px;
        margin-top: -10px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 100px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: -20px;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 18px;
        margin-top: 20px;
        border: 2px solid gold;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 40px;
        margin-left: 30px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}

@media only screen and (min-width:426px) and (max-width:768px) {
    .display-main {
        display: flex;
        align-items: center;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        height: 550px;
        justify-content: center;
        padding-top: 160px;
        margin-left: 50px;
    }
    .display-image img {
        width: 280px;
        height: 360px;
        padding: 10px;
        margin-left: -90px;
        margin-top: -0px;
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 40px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 0px;
        margin-right: 90px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 2px;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        margin-left: 20px;
        margin-top: -50px;
    }
    h1 {
        letter-spacing: 4px;
        padding: 10px;
        align-items: center;
        font-size: 25px;
        letter-spacing: 6px;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 55px;
        align-items: center;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        padding: 10px;
        align-items: center;
        font-size: 15px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 20;
        margin-left: -10px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 100px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: -20px;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 18px;
        margin-top: 20px;
        border: 2px solid gold;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 40px;
        margin-left: 30px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}

@media only screen and (min-width:376px) and (max-width:425px) {
    .display-main {
        display: flex;
        align-items: center;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        height: 550px;
        justify-content: center;
        padding-top: 160px;
        margin-left: 60px;
        margin-bottom: -100px;
    }
    .display-image img {
        width: 190px;
        height: 250px;
        padding: 10px;
        margin-left: -80px;
        margin-top: -160px;
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 40px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-right: 60px;
        margin-left: 20px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 2px;
        align-items: center;
        padding: 10px;
        font-size: 9px;
        text-align: center;
        margin-left: -20px;
        margin-top: -110px;
    }
    h1 {
        letter-spacing: 4px;
        padding: 10px;
        align-items: center;
        font-size: 15px;
        letter-spacing: 6px;
        margin-top: -5px;
        margin-bottom: -20px;
        margin-right: 30px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 35px;
        align-items: center;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        padding: 10px;
        align-items: center;
        font-size: 8px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 20;
        margin-left: -25px;
        margin-right: -20px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 100px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: -20px;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 12px;
        margin-top: 20px;
        border: 2px solid gold;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 40px;
        margin-left: 30px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}

@media only screen and (min-width:321px) and (max-width:375px) {
    .display-main {
        display: flex;
        align-items: center;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        height: 550px;
        justify-content: center;
        padding-top: 160px;
        margin-left: 90px;
        margin-bottom: -100px;
    }
    .display-image img {
        width: 190px;
        height: 250px;
        padding: 10px;
        margin-left: -80px;
        margin-top: -160px;
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 40px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-right: 25px;
        margin-left: 0px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 2px;
        align-items: center;
        padding: 10px;
        font-size: 9px;
        text-align: center;
        margin-left: -30px;
        margin-top: -90px;
    }
    h1 {
        letter-spacing: 4px;
        padding: 10px;
        align-items: center;
        font-size: 12px;
        letter-spacing: 6px;
        margin-top: -10px;
        margin-bottom: -20px;
        margin-right: 50px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 30px;
        align-items: center;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        padding: 10px;
        align-items: center;
        font-size: 8px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 20;
        margin-left: -60px;
        margin-right: -20px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 100px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: -20px;
        margin-left: -40px;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 10px;
        margin-top: 20px;
        border: 2px solid gold;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 30px;
        margin-left: 30px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}

@media only screen and (min-width:210px)and (max-width:320px) {
    .display-main {
        display: flex;
        align-items: center;
        font-family: 'Alata', sans-serif;
        backdrop-filter: blur(40%);
        background-color: black;
        color: white;
        height: 550px;
        justify-content: center;
        padding-top: 160px;
        margin-left: 40px;
        margin-right: -70px;
        margin-bottom: -150px;
    }
    .display-image img {
        width: 150px;
        height: 220px;
        padding: 10px;
        margin-left: -40px;
        margin-top: -160px;
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 40px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-right: 10px;
        margin-left: 0px;
    }
    .welcome {
        font-family: 'PT serif', sans-serif;
        letter-spacing: 2px;
        align-items: center;
        padding: 10px;
        font-size: 9px;
        text-align: center;
        margin-left: -30px;
        margin-top: -95px;
    }
    h1 {
        letter-spacing: 4px;
        padding: 10px;
        align-items: center;
        font-size: 12px;
        letter-spacing: 6px;
        margin-top: -10px;
        margin-bottom: -20px;
        margin-right: 50px;
    }
    h1 span {
        font-family: 'OpenSans', sans-serif;
        letter-spacing: 6px;
        color: rgb(196, 145, 3);
        font-size: 30px;
        align-items: center;
    }
    .display-skill {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        padding: 10px;
        align-items: center;
        font-size: 8px;
        color: rgba(252, 252, 252, 0.947);
        font-weight: 20;
        margin-left: -60px;
        margin-right: -20px;
    }
    .display-content {
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 200px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-top: 100px;
    }
    .butt {
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: -20px;
        margin-left: -40px;
    }
    .butt a {
        background: transparent;
        border: none;
        color: white;
        font-size: 10px;
        margin-top: 20px;
        border: 2px solid gold;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-items: center;
        font-family: 'poppins', sans-serif;
        text-decoration: none;
    }
    .butt a:hover {
        background-color: rgb(106, 91, 10);
    }
    .social {
        margin-top: 30px;
    }
    .social a {
        text-decoration: none;
        font-size: 30px;
        margin-left: 30px;
        color: rgb(189, 161, 3);
        transition: transform(0.5s);
        border: none;
    }
    .butt .social a:hover {
        transform: translateY(-5px);
        background: none;
    }
}